body {
  background-image: url(texture.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.main {
  display: flex;
  flex-wrap: wrap;
}

.heading {
  width: 100%;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
}

.box {
  display: flex;
  flex-wrap: wrap;
}

.header {
  text-align: justify;
  overflow-wrap: break-word;
  hyphens: manual;
  margin: 5px 5px;
  justify-content: center;
  text-indent: 15px;
  font-family: 'Montserrat', sans-serif;
  flex: 1;
}

.section {
flex: 2;
}

.container {
display: flex;
flex-wrap: wrap;
justify-content: center;
margin: 5px 5px;
font-family: 'Montserrat', sans-serif;
}

h2, h3 {
  margin: 8px;
}

button {
  border: none;
  font-size: 20px;
  min-width: 100px;
  height: 40px;
  background-color: rgb(197, 225, 249);
  border-radius: 15px;
}
.btn {
  margin: 8px;
}

li {
  list-style-type: none;
}
.caption {
  font-family: 'Montserrat', sans-serif;
  text-shadow: 3px -1px 3px rgba(55, 144, 199, 1);
}